{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "qn-rancher-operator.fullname" . }}
  labels:
    {{- include "qn-rancher-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - management.cattle.io
  resources:
  - projects
  verbs:
  - get
  - list
  - watch
  - create
- apiGroups:
  - management.cattle.io
  resources:
  - clusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "qn-rancher-operator.fullname" . }}
  labels:
    {{- include "qn-rancher-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "qn-rancher-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "qn-rancher-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
